<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bucheng.miaosha.mapper.StockLogMapper">
    <update id="updateStatusById">
      update imooc_order.ad_stock_log set status =#{status},update_time=now() where id = #{id} and status = 0
    </update>

</mapper>